@font-face {
  font-family: Ubuntu-Regular;
  src: url("../assets/fonts/ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url("../assets/fonts/ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url("../assets/fonts/JosefinSans/JosefinSans-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.rc-time-picker-panel-select-option-selected {
  background-color: #7de881 !important;
}

.rc-time-picker-clear,
.rc-time-picker-clear-icon:after {
  font-size: 15px;
}

.rc-time-picker-panel-select,
.rc-time-picker-input,
.rc-time-picker-panel-input {
  font-family: "Ubuntu-Bold";
  font-size: 25px;
  color: #080808;
}
